body {
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen", "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue", "Helvetica", "Arial", sans-serif;
  font-size: 14px;
  line-height: 1.5;
  background-color: #16bbf3;
  align-items: center;
}

.container {
  max-width: 960px;
  margin: 0 auto;
}

p{
    color: #310a8bc7;
    font-size: 18px;
    font-family: -apple-system,BlinkMacSystemFont,"Segoe UI",Roboto,"Helvetica Neue",Arial,"Noto Sans",sans-serif;
    text-align: center;
    
  }
h1{
  font-style: oblique;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  text-align: center;
  font-size: 36px;
  font-style: italic;
  font-weight: bold;
  color: rgb(0, 97, 233);
  border-radius: 10px;
}
img{
  width: 300px;
  height: auto;
  border-radius: 10px;
  box-shadow: 15px 10px 32px rgba(32, 3, 86, 0.433);
  margin: 20px auto;
  display: block;

}
